<form class="example-form">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-2 content-image">
        <div class="row">
          <div class="col-sm-12">
            <img src="../.././../assets/images/image.png" alt="">
          </div>
          <div class="col-sm-12">
            <p class="person">
              Homero Simpson
            </p>
          </div>
          <div class="col-sm-12">
            <label for="" class="text-image">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus sem sodales augue consectetur, in fringilla felis hendrerit. Suspendisse non ullamcorper lectus
            </label>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-5">
       <app-detail></app-detail>
      </div>

      <div class="col-sm-12 col-lg-5">
       <app-account></app-account>
      </div>
    </div>
  </div>
</form>