<form class="example-form">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-2 content-image">
        <div class="row">
          <div class="col-sm-12">
            <img src="../.././../assets/images/image.png" alt="">
          </div>
          <div class="col-sm-12">
            <p class="person">
              Homero Simpson
            </p>
          </div>
          <div class="col-sm-12">
            <label for="" class="text-image">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus sem sodales augue consectetur, in fringilla felis hendrerit. Suspendisse non ullamcorper lectus
            </label>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-5">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="detail">
              User details
            </h3>
          </div>
          <div class="col-sm-12 example-container">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Full name *">
            </mat-form-field>
          </div>
          <div class="col-sm-12 example-container">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Your birthday *">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-sm-12 example-container">
            <mat-form-field>
              <mat-label>Gender</mat-label>
              <mat-select>
                <mat-option *ngFor="let gender of listGenders" [value]="gender.value">
                  {{gender.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4 example-container">
            <mat-form-field>
              <mat-label>Country</mat-label>
              <mat-select>
                <mat-option *ngFor="let country of listCountries" [value]="country.value">
                  {{country.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-8 example-container">
            <mat-form-field>
              <input matInput #input maxlength="10" placeholder="Phone *">
              <mat-hint align="start"><strong>mobile:</strong> 094 231 234</mat-hint>
              <mat-hint align="end"><strong>Fixed:</strong> 2123 1234</mat-hint>
            </mat-form-field>
          </div>

          <div class="col-sm-12 example-container">
            <mat-form-field>
              <textarea matInput placeholder="Bio" #bio maxlength="256"></textarea>
              <mat-hint align="start">tell us about yourself</mat-hint>
              <mat-hint align="end">{{bio.value.length}} / 256</mat-hint>
            </mat-form-field>
          </div>

          <div class="col-sm-12">
            <button mat-flat-button color="primary" [disabled]="true">Submit</button>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-5">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="detail">
              Account details
            </h3>
          </div>
          <div class="col-sm-12 example-container">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="User name *">
            </mat-form-field>
          </div>
          <div class="col-sm-12 example-container">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email *">
            </mat-form-field>
          </div>
          <div class="col-sm-12 example-container">
            <mat-form-field>
              <input matInput placeholder="Password" type="password">
            </mat-form-field>
          </div>
          <div class="col-sm-12 example-container">
            <mat-form-field>
              <input matInput placeholder="Confirm Password" type="password">
            </mat-form-field>
          </div>
          <div class="col-sm-12 example-container">
            <mat-checkbox>I accept terms and conditions</mat-checkbox>
          </div>
          <div class="col-sm-12">
            <button mat-flat-button color="primary" [disabled]="true">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>